<% provide(:title, "Edit accommodation") %>

<div class="container">
  <h1>Edit accommodation</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for [@user, @accommodation] do |f|%>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :location %>
        <%= f.input :available %>
        <%= f.input :property_type %>
        <%# <%= f.input :perks, as: :check_boxes, collection: property_type::PERKS, input_html: { multiple: true }, include_hidden: false %>
        <%# <%= f.input :photo, as: :file %>
        <%= f.button :submit, value: 'Edit Accommodation', class: 'btn btn-primary' %>
        <%= link_to 'cancel', accommodation_path %>
      <% end %>
    </div>
  </div>
</div>