
<div class="container">
  <% if @search_word.present? %>
    <h3>Searched by "<%= @search_word %>"： <%= @accommodations.count %></h3>
  <% else %>
    <h3>Accommodations</h3>
    <%= link_to 'Add accommodation', new_accommodation_path, class: 'btn btn-primary' %>
  <% end %>
<div class="cards">
  <% @accommodations.each do |accommodation| %>
      <%= link_to accommodation_path(accommodation) do %>
        <% if accommodation.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path accommodation.photo.key %>')">
        <% else %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "https://res.cloudinary.com/dq6gibxhn/image/upload/v1603593033/n7mb1til97o0i9ve1ccvm5pdcplc.jpg" %>')">
        <% end %>
          <ul>
            <li><%= accommodation.location %></li>
            <li>Type: <%= accommodation.property_type %> </li>
            <li>Price: $<%= accommodation.price %>/day</li>
          
            <% if current_user == accommodation.user %>
              <li id="mine">It's your accommodation</li>
            <% elsif accommodation.available == true %>
              <li id="book">You can book!</li>
            <% else %>
              <li id="notavailable">Sorry not available...</li>
            <% end %>
          </ul>
      </div>
    <% end %>
  <% end %>
</div>
</div>

              <%# <li><%= link_to 'edit', edit_accommodation_path(accommodation) %> 
              <%# <%= link_to "delete", accommodation_path(accommodation), method: :delete, data: { confirm: "Are you sure?" } %>
            <%# <% elsif accommodation.available == true %>
              <%# <li><%= link_to 'Book', new_accommodation_booking_path(accommodation), class: 'btn btn-primary' %>
              <%# <%= link_to 'Detail', accommodation_path(accommodation), class: 'btn btn-success' %>
