<% provide(:title, 'Accommodations') %>
  <div class="container">
    <% if @search_word.present? %>
      <h3>Searched by "<%= @search_word %>"： <%= @accommodations.count %></h3>
    <% else %>
      <h3>Accommodations</h3>
    <% end %>

  <div class="row">
    <% @accommodations.each do |accommodation| %>
     <div class="col-md-4 col-12 cards-index">
        <%= link_to accommodation_path(accommodation) do %>
          <div class="card card-items-index">
            <div class="card-description">
              <!-- add image here? -->
              <div class="card-body">
                <h3 class="card-title"><%= accommodation.name %></h3>
                <p class="card-text">Description: <%= accommodation.description %></p>
                <p class="card-text">Location: <%= accommodation.location %></p>
                <p class="card-text">Type: <%= accommodation.property_type %></p>
                <p class="card-text">Available: <%= accommodation.available %></p>
                <%= cl_image_tag accommodation.photo.key, height: 150, width: 200, crop: :fill %>
                <p>Plice: $<%= accommodation.price %>/day</p>
              <div>
              <br>
                <%= link_to 'Book', new_accommodation_booking_path(accommodation), class: 'btn btn-primary' %>
                <% if current_user == accommodation.user %>
                  <%= link_to 'edit', edit_accommodation_path(accommodation) %> | 
                  <%= link_to "delete", accommodation_path(accommodation), method: :delete, data: { confirm: "Are you sure?" } %>
                <% else %>
                  book
                <% end %>
                </div>

              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div id="map"
  style="width: 100%; height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>