<div class="container">
  <h1>Your accommodation <%= @accommodation.name %></h1>
    <div class="card-trip">
    　<% if @accommodation.photo.attached? %>
      　<%= cl_image_tag @accommodation.photo.key, height: 150, width: 200, crop: :fill %>
      <% else %>
        <img src="https://res.cloudinary.com/dq6gibxhn/image/upload/v1603593033/n7mb1til97o0i9ve1ccvm5pdcplc.jpg" %>
      <% end  %>
      <div class="card-trip-infos">
        <div>
          <h2><%= @accommodation.name %>@<%= @accommodation.location %></h2>
          <p class="card-text">Description: <%= @accommodation.description %></p>
          <p class="card-text">Type: <%= @accommodation.property_type %></p>
          <h2 id="price">$<%= @accommodation.price %>/day</h2>
          <% if current_user != @accommodation.user %>
            <%= render 'users/favorite_form' %>
          <% end %>  
        </div>
        <% if current_user == @accommodation.user %>
          <div>
            <%= link_to 'edit', edit_accommodation_path(@accommodation), class: 'btn btn-success' %> 
            <%= link_to "delete", accommodation_path(@accommodation), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-warning' %>
          </div>
        <% elsif @accommodation.available == true  %>
          <%= link_to 'Book', new_accommodation_booking_path(@accommodation), class: 'btn btn-primary' %>
        <% else %>
          <p>Sorry not available... <%= link_to 'See other accommodations', accommodations_path %></p>
        <% end %>  
    </div>
    <div class="comment">
    　<%= render "comments/accommodation_comments" %>
      <%= render "comments/new" %>
    </div>
  </div>
</div>

