<div class="container">
  <div class="row">  
    <div class="col-md-6 col-12 cards-index">
      <div class="card card-items-index">
        <div class="card-description">
          <!-- add image here? -->
          <div class="card-body">
            <h3 class="card-title"><%= @accommodation.name %></h3>
            <p class="card-text">Description: <%= @accommodation.description %></p>
            <p class="card-text">Location: <%= @accommodation.location %></p>
            <p class="card-text">Type: <%= @accommodation.property_type %></p>
            <p class="card-text">Available: <%= @accommodation.available %></p>
            <% if @accommodation.photo.attached? %>
              <%= cl_image_tag @accommodation.photo.key, height: 150, width: 200, crop: :fill %>
            <% else %>
              <img src="https://image.shutterstock.com/image-vector/picture-vector-icon-no-image-260nw-1350441335.jpg" class = "img-thumbnail" style="width:100px;height:100px">
            <% end  %>
            <h3>$<%= @accommodation.price %>/day</h3>

            <%= link_to 'Book', new_accommodation_booking_path(@accommodation), class: 'btn btn-primary' %>
            <% if current_user == @accommodation.user %>
              <%= link_to 'edit', edit_accommodation_path(@accommodation) %> | 
              <%= link_to "delete", accommodation_path(@accommodation), method: :delete, data: { confirm: "Are you sure?" } %>
            <% else %>
              book<%# <%= link_to " book ", new_accommodation_booking_path(@accommodation), class: "btn btn-primary"%>
            <% end %>  
          </div>      
        </div>
      </div>
    </div>
  </div>
</div>