<div class="dash-container">
  <h1>Dashboard</h1>
    <div class="bookings-container">
      <h2>Booking List</h2>
        <div class="card">
          <% @bookings.each do |booking|

                  <% if booking.permit.photo.attached? %>
                    <%= cl_image_tag booking.permit.photo.key, height: 300, width: 400, crop: :fill %>
                  <% else %>
                    <img class = "default-img-full" src="https://image.shutterstock.com/image-vector/picture-vector-icon-no-image-260nw-1350441335.jpg", height: 300, width: 300, crop: :fill>
                  <% end  %>


                  <table>
                    <tbody>
                      <tr><th>Permit:</th> <td><%= booking.permit.name %></td></tr>
                      <tr><th>Description:</th> <td> <%= booking.permit.description %></td></tr>
                      <tr><th>Total Price:</th> <td> $<%= booking.total_price %></td></tr>
                      <tr><th>Start Date:</th> <td> <%= booking.start_date %></td></tr>
                      <tr><th>End Date:</th> <td> <%= booking.end_date %></td></tr>
                      <tr><th>Booking Status:</th> <td> <%= booking.status %></td></tr>
                      </tbody>
                    </table>
                    <div id="booking-actions">
                      <%= link_to 'Show', booking %> |
                      <% if booking.user == current_user %>
                        <%= link_to 'Edit', edit_booking_path(booking) %>
                      <% end %> |
                      <% if booking.user == current_user %>
                        <%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% end %>
                    </div>


          <% end %>
        </div>
    </div>

    <div class="requests-container">
      <h2>My Requests</h2>
      <div class="card">
        <% @requests.each do |booking| %>


              <% if booking.permit.photo.attached? %>
                <%= cl_image_tag booking.permit.photo.key, height: 300, width: 400, crop: :fill %>
              <% else %>
                <img class = "default-img-full" src="https://image.shutterstock.com/image-vector/picture-vector-icon-no-image-260nw-1350441335.jpg", height: 300, width: 300, crop: :fill>
              <% end  %>


                <table>
                  <tbody>
                      <tr><th>Permit:</th> <td><%= booking.permit.name %></td></tr>
                      <tr><th>Description:</th> <td> <%= booking.permit.description %></td></tr>
                      <tr><th>Total Price:</th> <td> $<%= booking.total_price %></td></tr>
                      <tr><th>Start Date:</th> <td> <%= booking.start_date %></td></tr>
                      <tr><th>End Date:</th> <td> <%= booking.end_date %></td></tr>
                      <tr><th>Booking Status:</th> <td> <%= booking.status %></td></tr>
                    </body>
                </table>

                <div id="respond-request">
                  <%= link_to 'Accept', booking_path(booking, booking: {status: "Booked"}), method: :patch, data: { confirm: 'Are you sure?' } %> |
                  <% if booking.status != "Declined"%>
                    <%= link_to 'Decline', booking_path(booking, booking: {status: "Declined"}), method: :patch, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </div>



        <% end %>


      </div>
 </div>
    </div>
  </div>


<% @accommodations.each do |accommodation| %>
     <div class="col-md-4 col-12 cards-index">
        <%= link_to accommodation_path(accommodation) do %>
          <div class="card card-items-index">
            <div class="card-description">
              <!-- add image here? -->
              <div class="card-body">
                <h3 class="card-title"><%= accommodation.name %></h3>
                <p class="card-text"><%= accommodation.description %></p>
                <p class="card-text"><%= accommodation.location %></p>
                <p class="card-text"><%= accommodation.property_type %></p>
              </div>

              <div>
                <h3 class="cardpricing"></h3>$<%= number_with_delimiter(accommodation.price, :delimiter => ',') %></h3>
              </div>

              </div>
          </div>
        <% end %>
      </div>
    <% end %> %>