<header class="navbar navbar-fixed-top">
 <div class="container">
   <nav>
    <%= render 'layouts/search' if user_signed_in? %>
     <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li><%= link_to 'Accommodations', accommodations_path %></li>
         <li><%= link_to 'Favorite', favorites_path %></li>
        <li><%= link_to 'Booking', bookings_path %></li>
        <li><%= link_to "Manege", dashboards_path(@user) %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :get %></li> 
        <% else %>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <li><%= link_to 'Log in', new_user_session_path %></li>
        <% end %>
     </ul>
   </nav>
  </div>
</header>